/* Start global values */
:root {
    --background-color: #abd1c6;
    --headline-color: #fffffe;
    --paragraph-color: #e8e4e6;
    --form-button-color: #f9bc60;
    --form-button-text: #001e1d;
    --card-background: #004643;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
/* extra small */
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}
/* small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
/* medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
/* large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
/* x-large */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* xx-large */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
fieldset {
    border: none;
    line-height: 1.2rem;
    padding-left: 0;
}
/* end global values */
/* start components */
.section {
    margin-bottom: 10px;
}
/* end components */
/* start header */
.header h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 4rem;
    color: var(--headline-color);
}
/* end header */
/* start questionnaire */
.questionnaire {
    height: calc(100vh);
    display: flex;
    /*justify-content: center;
    */
}
.questionnaire .height p {
    margin: 0 0 -18px 0;
}
.questionnaire form {
    padding: 20px;
    color: var(--form-button-text);
    font-weight: bold;
    margin-bottom: 10px;
}
input {
    background-color: var(--card-background);
    border: none;
    padding: 10px 15px;
    color: #fffffe
}
input::placeholder {
    color: #fffffe81;
}
.questionnaire form input[type="radio"] {
    accent-color: var(--card-background);
}
.questionnaire form input[type="submit"] {
    background-color: var(--form-button-color);
    border: none;
    padding: 20px 40px;
    color: var(--form-button-text);
}
.questionnaire form input[type="submit"]:hover {
    cursor: pointer;
}
/* end questionnaire */
/* start dynamic content container */
.dynamic-content {
    display: none;
}
.dynamic-content .number-display {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 1rem;
}
.dynamic-content .number-display .number-card {
    background-color: #004643;
    padding: 20px;
    border-radius: 3px;
    width: 7rem;
    max-width: 7rem;
}
.dynamic-content .number-display .number-card h4 {
    color: #e8e4e6;
}
.dynamic-content .number-display .number-card p {
    color: #fffffe;
}
.dynamic-content .button-section {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}
.dynamic-content .button-section button {
    padding: 1rem;
    margin-right: 1rem;
    border: none;
    background-color: #f9bc60;
    color: #001e1d;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.dynamic-content .button-section button:active {
    background-color: #a57d40;
}
.dynamic-content .list-section {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
.dynamic-content .list-section hr {
    width: 100%;
}
.dynamic-content .list-section .macro-item input {
    margin: 1px;
}
/* end dynamic content container */